.menu {
  list-style-type: none;
  margin: 20;
  padding: 20;
  margin-top: 60px;
  color: black;
}
.menu li {
    float: left;
  }
  
  
  div.block1 {
    float: left; /*Задаем обтекание*/
    line-height: 20px;/*Высота строки +  верт. центрирования текста*/
    font-size: 20px;
    background: white;
    color: black;
    margin-top: 60px;
    width: 300px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
   }

  